# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# dist folders
/dist

# Firebase cache only
.firebase/
hosting.*.cache

# Vercel output
.vercel/
.env.local
.env.*.local

# Firebase Service Account Key
serviceAccountKey.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.txt
